@model IEnumerable<MainWebApplication.Models.Appointment>

<p>
    <a asp-action="Create">Сообщить об ошибке</a>
</p>
<h3>Список моих приемов</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Услуга
            </th>
            <th>
                Пациент
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAppointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
                @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                <a asp-action="AcceptAppointment" asp-route-id="@item.Id">Принять пациента</a>
            </td>
        </tr>
}
    </tbody>
</table>
